<article class="game">
    <div class="bet-type">
        <ul>
            <li class="tile">Free play!</li>
            <li class="tile">Bet 0.001 XBT</li>
            <li class="tile">Bet 0.005 XBT</li>
            <li class="tile">Bet 0.01 XBT</li>
            <li class="tile">Bet 0.025 XBT</li>
            <li class="tile">Bet 0.05 XBT</li>
            <li class="tile">Bet 0.1 XBT</li>
            <li class="tile">Bet 0.2 XBT</li>
            <li class="tile">Bet 0.4 XBT</li>
            <li class="tile">Bet 0.0001 XBT</li>
            <li class="tile">Bet 0.00025 XBT</li>
            <li class="tile">Bet 0.0005 XBT</li>
        </ul>
    </div>
    <ul class="game-steps">
        <li class="step-row">
            <ul>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="take-reward tile">Take bet * 1.2</li>
            </ul>
        </li>
        <li class="step-row">
            <ul>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="take-reward tile">Take bet * 1.4</li>
            </ul>
        </li>
        <li class="step-row">
            <ul>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="take-reward tile">Take bet * 1.6</li>
            </ul>
        </li>
        <li class="step-row">
            <ul>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="take-reward tile">Take bet * 2</li>
            </ul>
        </li>
        <li class="step-row">
            <ul>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="take-reward tile">Take bet * 2.5</li>
            </ul>
        </li>
        <li class="step-row">
            <ul>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="take-reward tile">Take bet * 3</li>
            </ul>
        </li>
        <li class="step-row">
            <ul>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="take-reward tile">Take bet * 4</li>
            </ul>
        </li>
        <li class="step-row">
            <ul>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="take-reward tile">Take bet * 5</li>
            </ul>
        </li>
        <li class="step-row">
            <ul>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="step-tile"></li>
                <li class="take-reward tile">Take bet * 6</li>
            </ul>
        </li>
        
    </ul>
</article>