<article class="game">
    <div class="bet-type {{^if data.gameState}}available{{/if}}">
        <ul>
            <li class="bet tile" value="0">Free play!</li>
            <li class="bet tile" value="0.001">Bet 0.001 XBT</li>
            <li class="bet tile" value="0.005">Bet 0.005 XBT</li>
            <li class="bet tile" value="0.01">Bet 0.01 XBT</li>
            <li class="bet tile" value="0.025">Bet 0.025 XBT</li>
            <li class="bet tile" value="0.05">Bet 0.05 XBT</li>
            <li class="bet tile" value="0.1">Bet 0.1 XBT</li>
            <li class="bet tile" value="0.2">Bet 0.2 XBT</li>
            <li class="bet tile" value="0.4">Bet 0.4 XBT</li>
            <li class="bet tile" value="0.0001">Bet 0.0001 XBT</li>
            <li class="bet tile" value="0.00025">Bet 0.00025 XBT</li>
            <li class="bet tile" value="0.005">Bet 0.0005 XBT</li>
        </ul>
    </div>
    <ul class="game-steps">
        {{#each privateData.currentProgress}}
            <li class="step-row {{#ifCond @index ../privateData.currentStep}}available{{/ifCond}}">
                <ul>
                    <li class="step-tile {{#ifCond this.bomb 0}}bomb{{/ifCond}}{{#ifCond this.step 0}}stepped{{/ifCond}}"></li>
                    <li class="step-tile {{#ifCond this.bomb 1}}bomb{{/ifCond}}{{#ifCond this.step 1}}stepped{{/ifCond}}"></li>
                    <li class="step-tile {{#ifCond this.bomb 2}}bomb{{/ifCond}}{{#ifCond this.step 2}}stepped{{/ifCond}}"></li>
                    <li class="step-tile {{#ifCond this.bomb 3}}bomb{{/ifCond}}{{#ifCond this.step 3}}stepped{{/ifCond}}"></li>
                    <li class="step-tile {{#ifCond this.bomb 4}}bomb{{/ifCond}}{{#ifCond this.step 4}}stepped{{/ifCond}}"></li>
                    <li class="take-reward tile {{#ifCond @index ../privateData.takeRewardIndex}}take-it{{/ifCond}}">Take bet * {{this.rewardValue}}</li>
                </ul>
            </li>
        {{/each}}
    </ul>
</article>