/* CSS BEGIN*/
body {
    width: 900px;
    margin: 20px auto;
    font-family: Tahoma, Geneva, sans-serif;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
p {
	padding-bottom: 15px;
	line-height: 17px;
}
.upper-part {
	height: 660px;
	border-bottom: 3px solid #804e2e;
}
.aside,
.game {
	float: left;
	width: 47%;
}
.game li {
	-webkit-transition-duration: 0.3s;
}
aside {
	padding-right: 20px;
}
.game {
	width: 334px;
	padding: 0 60px;
	font-size: 11px;
	line-height: 41px;
	border: 1px solid #666;
	color: white;
	text-align: center;
}
li {
	float: left;
}
/*Clearfix*/
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.bold {
	font-weight: bold;
}
h2 {
	font-weight: bold;
	margin-bottom: 12px;
	font-size: 14px;
}
h2,
.info,
.game-data {
	color: #666;
}
aside,
footer {
	font-size: 14px;
}
aside .link {
	line-height: 20px;
	color: #eb6120;
	display: block;
}
header {
	width: 340px;
	margin-bottom: 20px;
}
.inline {
	display: inline-block;
}
.menu {
	background: #804e2e;
	border-radius: 5px;
	display: inline-block;
	color: white;
	font-weight: bold;
}
.menu li {
	float: left;
	padding: 5px 7px;
}
.menu a {
	color: white;
	text-decoration: none;
}
.menu a:hover {
	color: #888;
}
.info-box {
	margin-bottom: 20px;
	border: solid 1px #804e2e;
	border-radius: 5px;
	padding: 15px 0;
	text-align: center;
}
.info-box span {
	line-height: 20px;
	padding: 4px;
}
.value {
	color: #804e2e;
}
.bet-type {
    margin: 0 auto 25px auto;
    padding-bottom: 3px;
    display: table;
    border-bottom: 3px solid #804e2e;
}
.bet-type li,
.step-row li {
	cursor: pointer;
}
.tile {
	border-radius: 5px;
	background-color: #804e2e;
	height: 38px;

}
.bet-type ul {
	padding-top: 20px;
}
.bet-type li {
    line-height: 33px;
    display: inline;
    width: 108px;
    height: 34px;
    margin: 0 4px 8px 0;
}
.bet-type li:hover {
	background: #666;
}
.bet-type li:nth-child(3),
.bet-type li:nth-child(6),
.bet-type li:nth-child(9),
.bet-type li:nth-child(12) {
	margin-right: 0px;
	content: "";
	display: block;
}
.step-row {
	width: 100%;
	margin-bottom: 8px;
}
.step-tile {
	background-color: #f8a879;
	border-radius: 5px;
	margin-right: 5px;
	height: 40px;
	width: 40px;
}
.step-tile:hover {
	background: #f3610b;
}
.take-reward {
	border-radius: 10px;
	width: 100px;
	height: 40px;
	margin-left: 9px;
}
footer {
	text-align: center;
	margin-top: 20px;
}
footer h2 {
	margin: 30px 0 15px;
}
footer .game-data {
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
}
footer .hash {
	color: #eb6120;
	margin-left: 5px;
}
footer table {
	margin: auto;
	width: 498px;
	border: 1px solid #666;
}
footer table th {
	font-weight: bold;
}
footer table tr {
	height: 19px;
}
footer table td,
footer table th {
	padding: 3px;
}
footer table td:first-child,
footer table th:first-child {
    text-align:left;
}
footer table td:last-child,
footer table th:last-child {
    text-align:right;
}
.logo, .bomb, .step, .treasure, .refresh{
	background: url(../images/sprites.png) no-repeat;
}
.logo{
	background-position: -7px 0;
	height: 109px;
	display: block;
	margin: 10px 0;
}
.bomb{
	background-position: -6px -119px ;
	width: 32px;
	height: 32px;
}
.step{
	background-position: -6px -163px ;
	width: 32px;
	height: 32px;
}
.treasure{
	background-position: -5px -209px ;
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}
.refresh{
	background-position: -6px -255px ;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}