.aside,.game {
float:left;
width:47%;
}

.bet-type {
border-bottom:3px solid #804e2e;
display:table;
margin:0 auto 25px;
padding-bottom:3px;
}

.bet-type li {
display:inline;
height:34px;
line-height:33px;
margin:0 4px 8px 0;
width:108px;
}

.bet-type.available li,.step-row.available .step-tile {
cursor:pointer;
}

.bet-type.available li {
    background: #804e2e;
}

.bet-type li,
.bet-type.available li:hover {
    background:#666;
}

.bet-type li:nth-child(3),.bet-type li:nth-child(6),.bet-type li:nth-child(9),.bet-type li:nth-child(12) {
content:"";
display:block;
margin-right:0;
}

.bet-type ul {
padding-top:20px;
}

.bold,footer table th {
font-weight:700;
}

.step-tile.bomb,
.step-tile.stepped,
.step-tile.kaboom,
.step-tile.jackpot {
    -webkit-transition-duration: 0;
}

.step-tile.bomb {
    background-position: -2px -115px;
}

.step-tile.stepped {
    background-position: -2px -158px;
}

.step-tile.kaboom {
    background-position: 3px -273px;
}

.step-tile.jackpot {
    background-position: 0px -206px;
}

.step-tile.jackpot.stepped {
    background-position: -2px -158px;
}

.clearfix {
zoom:1;
}

.clearfix:after {
clear:both;
}

.clearfix:before,.clearfix:after {
content:"";
display:table;
}

.game {
border:1px solid #666;
color:#FFF;
font-size:11px;
line-height:41px;
padding:0 60px;
text-align:center;
width:334px;
}

.game li {
-webkit-transition-duration:.3s;
}

.info-box {
border:solid 1px #804e2e;
border-radius:5px;
margin-bottom:20px;
padding:15px 0;
text-align:center;
}

.info-box span {
line-height:20px;
padding:4px;
}

.inline {
display:inline-block;
}

.logo {
background-position:-7px 0;
display:block;
height:109px;
margin:10px 0;
}

.logo,.bomb,.stepped,.treasure,.refresh,.kaboom,.jackpot {
background: url(../images/sprites.png) no-repeat;
}

.menu {
background:#804e2e;
border-radius:5px;
color:#FFF;
display:inline-block;
font-weight:700;
}

.menu a {
color:#FFF;
text-decoration:none;
}

.menu a:hover {
color:#888;
}

.menu li {
float:left;
padding:5px 7px;
}

.refresh {
background-position:-6px -255px;
display:inline-block;
height:16px;
vertical-align:middle;
width:16px;
}

.step {
background-position:-6px -163px;
height:32px;
width:32px;
}

.step-row {
margin-bottom:8px;
width:100%;
}

.step-tile {
background-color:#f8a879;
border-radius:5px;
height:40px;
margin-right:5px;
width:40px;
}

.step-row.available .step-tile {
    background-color: #f68948;
}

.step-row.available .step-tile:hover {
    background-color:#f3610b;
}

.take-reward {
border-radius:10px;
height:40px;
margin-left:9px;
width:100px;
}

.take-reward.take-it {
    cursor: pointer;
    background-color: #cb5745;
}
.take-reward.take-it:hover {
    background-color: #9d2612;
}

.tile {
background-color:#804e2e;
border-radius:5px;
height:38px;
}

.treasure {
background-position:-5px -209px;
display:inline-block;
height:32px;
vertical-align:middle;
width:32px;
}

.upper-part {
border-bottom:3px solid #804e2e;
height:660px;
}

.value {
color:#804e2e;
}

aside {
padding-right:20px;
}

aside .link {
color:#eb6120;
display:block;
line-height:20px;
}

aside,footer {
font-size:14px;
}

body {
font-family:Tahoma, Geneva, sans-serif;
margin:20px auto;
width:900px;
}

footer {
margin-top:20px;
text-align:center;
}

footer .game-data {
font-size:12px;
font-weight:700;
margin-top:5px;
}

footer .hash {
color:#eb6120;
margin-left:5px;
}

footer h2 {
margin:30px 0 15px;
}

footer table {
border:1px solid #666;
margin:auto;
width:498px;
}

footer table td,footer table th {
padding:3px;
}

footer table td:first-child,footer table th:first-child {
text-align:left;
}

footer table td:last-child,footer table th:last-child {
text-align:right;
}

footer table tr {
height:19px;
}

h2 {
font-size:14px;
font-weight:700;
margin-bottom:12px;
}

h2,.info,.game-data {
color:#666;
}

header {
margin-bottom:20px;
width:340px;
}

li {
float:left;
}

p {
line-height:17px;
padding-bottom:15px;
}

ul {
list-style:none;
margin:0;
padding:0;
}

#simplemodal-overlay {background-color:#000;}

#simplemodal-container {
    background-color:#fff;
    border: 8px solid #444;
    padding: 10px 20px;
}

#simplemodal-container a.modalCloseImg {
    background:url(../images/x.png) no-repeat; /* adjust url as required */
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-18px;
    cursor:pointer;
}

.simplemodal-data .with-address {
    width: 198px;
}

.simplemodal-data .with-amount {
    width: 60px;
}

.simplemodal-data .field {
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: grey;
}
.simplemodal-data label {
    display: inline-block;
    margin-right: 20px;
    width: 200px;
    text-align: right;
}

.simplemodal-data .withdraw-btn {
    text-align: center;
}
.simplemodal-data .left {
    margin-top: 30px;
}
.simplemodal-data .left span {
    font-weight: bold;
}
.simplemodal-data .right {
    width: 250px;
    height: 250px;
    margin: auto;
}
.simplemodal-data button {
    outline: none;
    font-size: 16px;
    background: rgb(223, 117, 20);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    text-transform: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.simplemodal-data button:hover {
    progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
    background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.simplemodal-data button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}


